
#media-player{
    text-align: center;
    background-color: black;
    width:60%;
    margin: auto;
    border-radius: 10px;
    display: block;
}
#gallery{
    max-width:60%;
    height:260px;
    margin:auto;
    overflow:auto;
    text-align: inherit;
    border: 1px solid black;
    border-radius: 10px;
}
#gallery td{
    padding:10px;
}
#gallery img{
    width:250px;
    cursor: pointer;
    height: 200px; 
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid white;
}
video{
    height:100%;
    width:100%;
    padding:0%;
}
span.play{ 
    display:block;
    height: 100%;
    width: 100%;
    background: url('../images/play-arrow.png') center center no-repeat; 
    margin: -205px 0 0 0; 
    height: 200px; 
    position: relative;
    z-index: 100; 
    opacity: 0.0; 
    filter: alpha(opacity=20);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
    padding-top: 10px;
}
a:hover span.play{
    display:block; 
    background-color: black;
    opacity: 0.9;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
    padding-top: 5%;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
span.play p {
    z-index: 9999;
    margin: 0;
    text-overflow:ellipsis;
    overflow:hidden;
    height: 100%;
    top:5%;
    width:210px;
    color: white;
    margin: 0 auto;
    text-align: justify;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
#information{
    width:60%;
    height:260px;
    margin:auto;
    overflow:auto;
    text-align: inherit;
    border: 1px solid black;
    border-radius: 10px;
}
#tableInfo {
    width: 30%;
    border-right:1px solid black;
    height:260px;
    font-size: 20px;
    line-height:20px;
    margin-right: 0;
    float: left;
}
#tableInfo li {
    text-align: left;
    list-style: none;
    height:25%;
    padding:10px;
}
#MovieInfo {
    width: 65%;
    height:260px;
    font-size: 20px;
    line-height:20px;
    height:260px;
    float: left;
}
#MovieInfo h2{
    font-family: baskerville,'palatino linotype','times new roman',serif;
    font-size: 1.375em;
    line-height: 1em;
    letter-spacing: -0.045em;
    text-align: center;
    float: left;
    width: 6.5em;
    padding-top:3%;
    padding-bottom:3%;
    border-top-width: 0.045em;
    border-bottom: 0.045em solid #000;
    margin-right:2%;
    margin-top: 0;
}
#MovieInfo p{
    text-align: justify;
    text-overflow:ellipsis;
    padding-left: 30px;
}
.title {
    background: url(../images/comments.png) left no-repeat;
    padding: 0 0 0 40px;
}
.author {
    background: url(../images/author.png) left no-repeat;
    padding: 0 0 0 40px;
}
.date {
    background: url(../images/date.png) left no-repeat;
    padding: 0 0 0 40px;
}