body{
    background-color: grey;
    text-align: center;
}
/* Scrollbar CSS*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}
::-webkit-scrollbar-track {
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background:#999;
    border: thin solid gray;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}       

#media-player{
    text-align: center;
    background-color: black;
    width:60%;
    margin: auto;
    border-radius: 10px;
    display: block;
}
#gallery{
    max-width:60%;
    height:260px;
    margin:auto;
    overflow:auto;
    text-align: inherit;
    border: 1px solid black;
    border-radius: 10px;
}
#gallery td{
    padding:20px;
}
#gallery img{
    width:250px;
    cursor: pointer;
}
video{
    height:90%;
    width:90%;
    padding:5%;
}
span.play{ display:none; background: url('../images/play-arrow.png') center center no-repeat; margin: -200px 10px 0 0; height: 200px; position: relative; z-index: 100; opacity: 0.8; filter: alpha(opacity=80); }
a:hover span.play{ display:block; }

#information{
    width:60%;
    height:260px;
    margin:auto;
    overflow:auto;
    text-align: inherit;
    border: 1px solid black;
    border-radius: 10px;
}

#tableInfo {
    width: 30%;
    border-right:1px solid black;
    height:260px;
    font-size: 20px;
    line-height:20px;
}

#tableInfo li {
    text-align: left;
    list-style: none;
    height:25%;
    padding:10px;
}

.title {
    background: url(../images/comments.png) left no-repeat;
    padding: 0 0 0 40px;
}
.author {
    background: url(../images/author.png) left no-repeat;
    padding: 0 0 0 40px;
}
.date {
    background: url(../images/date.png) left no-repeat;
    padding: 0 0 0 40px;
}