body{
    background-color: grey;
    background-image:url('../images/backImage1.png');
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* Scrollbar CSS*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}
::-webkit-scrollbar-track {
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background:#999;
    border: thin solid gray;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}       

#Top{
    height : 200px;
}

#Logo{
    background-image:url('../images/MattOoiLogoblackOutline.png');
    height:70%;
    background-size: 100% 100%;
    width: 35% ;
    margin-left: auto ;
    margin-right: auto ;
    background-repeat: no-repeat;
}

#media-player{
    text-align: center;
    background-color: black;
    width:60%;
    margin: auto;
    border-radius: 10px;
    display: block;
}
#gallery{
    max-width:60%;
    height:260px;
    margin:auto;
    overflow:auto;
    text-align: inherit;
    border: 1px solid black;
    border-radius: 10px;
}
#gallery td{
    padding:10px;
}
#gallery img{
    width:250px;
    cursor: pointer;
    height: 200px; 
    -webkit-border-top-left-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-radius-topleft: 15px;
-moz-border-radius-bottomright: 15px;
border-top-left-radius: 15px;
border-bottom-right-radius: 15px;
    border: 1px solid white;
}

video{
    height:100%;
    width:100%;
    padding:0%;
}
span.play{ 
    display:block;
    height: 100%;
    width: 100%;
    background: url('../images/play-arrow.png') center center no-repeat; 
    margin: -205px 0 0 0; 
    height: 200px; 
    position: relative;
    z-index: 100; 
    opacity: 0.0; 
    filter: alpha(opacity=20);
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover span.play{
    display:block; 
    background-color: black;
    opacity: 0.9;
    -webkit-border-top-left-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-radius-topleft: 15px;
-moz-border-radius-bottomright: 15px;
border-top-left-radius: 15px;
border-bottom-right-radius: 15px;
    border: 1px solid white;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

span.play p {
    z-index: 9999;
    margin: 0;
    text-overflow:ellipsis;
    overflow:hidden;
    height: 100%;
    top:5%;
    width:210px;
    color: white;
    margin: 0 auto;
    text-align: justify;
       color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

#information{
    width:60%;
    height:260px;
    margin:auto;
    overflow:auto;
    text-align: inherit;
    border: 1px solid black;
    border-radius: 10px;
}

#tableInfo {
    width: 30%;
    border-right:1px solid black;
    height:260px;
    font-size: 20px;
    line-height:20px;
    margin-right: 0;
    float: left;
}

#tableInfo li {
    text-align: left;
    list-style: none;
    height:25%;
    padding:10px;
}

#MovieInfo {
    width: 65%;
    height:260px;
    font-size: 20px;
    line-height:20px;
    height:260px;
    float: left;
}

#MovieInfo h2{
    font-family: baskerville,'palatino linotype','times new roman',serif;
    font-size: 1.375em;
    line-height: 1em;
    letter-spacing: -0.045em;
    text-align: center;
    float: left;
    width: 6.5em;
    padding-top:3%;
    padding-bottom:3%;
    border-top-width: 0.045em;
    border-bottom: 0.045em solid #000;
    margin-right:2%;
    margin-top: 0;
}

#MovieInfo p{
    text-align: center;
}
.title {
    background: url(../images/comments.png) left no-repeat;
    padding: 0 0 0 40px;
}
.author {
    background: url(../images/author.png) left no-repeat;
    padding: 0 0 0 40px;
}
.date {
    background: url(../images/date.png) left no-repeat;
    padding: 0 0 0 40px;
}

#menu-bar {
  width: 60%;
  margin: 0px 0px 0px 0px;
  padding: 7px 6px 4px 6px;
  height: 40px;
  line-height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 2px 2px 3px #526485;
  -webkit-box-shadow: 2px 2px 3px #526485;
  -moz-box-shadow: 2px 2px 3px #526485;
  background: #ADADAD;
  background: linear-gradient(top,  #DEE3EB,  #273656);
  background: -ms-linear-gradient(top,  #DEE3EB,  #273656);
  background: -webkit-gradient(linear, left top, left bottom, from(#DEE3EB), to(#273656));
  background: -moz-linear-gradient(top,  #DEE3EB,  #273656);
  border: solid 0px #6D6D6D;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #D4D4D4;
  background: linear-gradient(top,  #B5B5B5,  #FFFFFF);
  background: -ms-linear-gradient(top,  #B5B5B5,  #FFFFFF);
  background: -webkit-gradient(linear, left top, left bottom, from(#B5B5B5), to(#FFFFFF));
  background: -moz-linear-gradient(top,  #B5B5B5,  #FFFFFF);
  color: #444444;
  height: 25px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}

#menu-bar ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 40px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}


#Banner{
    background-image:url('../images/banner.png');
    text-align: center;
    background-color: black;
    width:60%;
    height: 200px;
    margin: auto;
            background-size: 100% 100%;
        background-repeat: no-repeat;
}


#AboutMe
{
    width:100%;
}

#AboutMe ul li{
    margin-right: 20%;
    margin-left: 17.5%;
     list-style-type: none;
    display: block;
}

#AboutMe ul li h2{
    font-family: baskerville,'palatino linotype','times new roman',serif;
    font-size: 1.375em;
    line-height: 1em;
    letter-spacing: -0.045em;
    text-align: right;
    float: left;
    padding-left: 10%;
    width: 6.5em;
    padding: 1.909em 0 2.136em;
    border-top-width: 0.045em;
    border-bottom: 0.045em solid #000;
    margin-right:4%;
}
#AboutMe ul li p{
text-align: justify;
    margin: 1.571em 0;
    padding: 0;
border: 0;
font-size: 100%;
font-weight: inherit;
font-style: inherit;
font-family: inherit;
}

